@import "bootstrap/dist/css/bootstrap.min.css";
@import 'react-toastify/dist/ReactToastify.css';

div.margin-top {
  margin: .5rem;
}

.spinner-container {
  position: fixed;
  background-color: #343a40;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index:999999;
}

.form-group {
  padding: .3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cards-container {
  width: 100%;
  margin: 0 auto;
  min-height: 100rem;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: fit-content;
}

.card_content {
  padding: 1rem;
  background:  #343a40;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}